<h1>New Discussion</h1>

<%= render 'form', discussion: @discussion, project: @project %>

<%= link_to (raw '<i class="fa fa-arrow-left" aria-hidden="true">
  </i> Back'), project_path(params[:project_id]) %>
