<h3 class="text-center">All Projects</h3>
<div class="list-group projects-list">
  <% @projects.each do |project| %>
    <%= link_to(project.title, root_path, :class => "list-group-item") %>
  <% end %>
</div>


