<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="text-center">Live Feed</h3>
      <div class="list-group live-feed">
        
        <% @feeds.reverse_each do |feed| %>
          <div class="list-group-item">
            <%= link_to @users.find_by_id(feed.user_id).name, @users.find_by_id(feed.user_id) %>&nbsp;has <%= feed.action %>d&nbsp; <%= link_to @projects.find_by_id(feed.project).title, @projects.find_by_id(feed.project) %>&nbsp;at <%= feed.created_at %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
