<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="text-center">Tags Cloud</h3>
      
<style type="text/css">

#htmltagcloud{

/******************************************
 * CUSTOMIZE CLOUD CSS BELOW (optional)
 */
	font-size: 100%;
	width: auto;		/* auto or fixed width, e.g. 500px   */
	font-family:'lucida grande','trebuchet ms',arial,helvetica,sans-serif;
	background-color:#fff;
	margin:1em 1em 0 1em;
	/*border:2px dotted #ddd;*/
	padding:2em; 
/******************************************
 * END CUSTOMIZE
 */

}#htmltagcloud{line-height:2.4em;word-spacing:normal;letter-spacing:normal;text-transform:none;text-align:justify;text-indent:0}#htmltagcloud a:link{text-decoration:none}#htmltagcloud a:visited{text-decoration:none}#htmltagcloud a:hover{color:white;background-color:#05f}#htmltagcloud a:active{color:white;background-color:#03d}.wrd{padding:0;position:relative}.wrd a{text-decoration:none}.tagcloud0{font-size:1.0em;color:#ACC1F3;z-index:10}.tagcloud0 a{color:#ACC1F3}.tagcloud1{font-size:1.4em;color:#ACC1F3;z-index:9}.tagcloud1 a{color:#ACC1F3}.tagcloud2{font-size:1.8em;color:#86A0DC;z-index:8}.tagcloud2 a{color:#86A0DC}.tagcloud3{font-size:2.2em;color:#86A0DC;z-index:7}.tagcloud3 a{color:#86A0DC}.tagcloud4{font-size:2.6em;color:#607EC5;z-index:6}.tagcloud4 a{color:#607EC5}.tagcloud5{font-size:3.0em;color:#607EC5;z-index:5}.tagcloud5 a{color:#607EC5}.tagcloud6{font-size:3.3em;color:#4C6DB9;z-index:4}.tagcloud6 a{color:#4C6DB9}.tagcloud7{font-size:3.6em;color:#395CAE;z-index:3}.tagcloud7 a{color:#395CAE}.tagcloud8{font-size:3.9em;color:#264CA2;z-index:2}.tagcloud8 a{color:#264CA2}.tagcloud9{font-size:4.2em;color:#133B97;z-index:1}.tagcloud9 a{color:#133B97}.tagcloud10{font-size:4.5em;color:#002A8B;z-index:0}.tagcloud10 a{color:#002A8B}.freq{font-size:10pt !important;color:#bbb}#credit{text-align:center;color:#333;margin-bottom:0.6em;font:0.7em 'lucida grande',trebuchet,'trebuchet ms',verdana,arial,helvetica,sans-serif}#credit a:link{color:#777;text-decoration:none}#credit a:visited{color:#777;text-decoration:none}#credit a:hover{color:white;background-color:#05f}#credit a:active{text-decoration:underline}// -->
</style>

<div id="htmltagcloud"> <span id="0" class="wrd tagcloud0"><a href="#tagcloud">acceptance</a></span> <span id="1" class="wrd tagcloud0"><a href="#tagcloud">adapted</a></span> <span id="2" class="wrd tagcloud0"><a href="#tagcloud">adieus</a></span> <span id="3" class="wrd tagcloud0"><a href="#tagcloud">assure</a></span> <span id="4" class="wrd tagcloud0"><a href="#tagcloud">believed</a></span> <span id="5" class="wrd tagcloud0"><a href="#tagcloud">besides</a></span> <span id="6" class="wrd tagcloud0"><a href="#tagcloud">blush</a></span> <span id="7" class="wrd tagcloud0"><a href="#tagcloud">commanded</a></span> <span id="8" class="wrd tagcloud0"><a href="#tagcloud">consider</a></span> <span id="9" class="wrd tagcloud3"><a href="#tagcloud">curiosity</a></span> <span id="10" class="wrd tagcloud0"><a href="#tagcloud">deficient</a></span> <span id="11" class="wrd tagcloud0"><a href="#tagcloud">discovery</a></span> <span id="12" class="wrd tagcloud0"><a href="#tagcloud">distrusts</a></span> <span id="13" class="wrd tagcloud3"><a href="#tagcloud">eat</a></span> <span id="14" class="wrd tagcloud0"><a href="#tagcloud">ecstatic</a></span> <span id="15" class="wrd tagcloud3"><a href="#tagcloud">effects</a></span> <span id="16" class="wrd tagcloud0"><a href="#tagcloud">expense</a></span> <span id="17" class="wrd tagcloud0"><a href="#tagcloud">forming</a></span> <span id="18" class="wrd tagcloud3"><a href="#tagcloud">gay</a></span> <span id="19" class="wrd tagcloud0"><a href="#tagcloud">ham</a></span> <span id="20" class="wrd tagcloud0"><a href="#tagcloud">husband</a></span> <span id="21" class="wrd tagcloud0"><a href="#tagcloud">income</a></span> <span id="22" class="wrd tagcloud0"><a href="#tagcloud">indeed</a></span> <span id="23" class="wrd tagcloud3"><a href="#tagcloud">instantly</a></span> <span id="24" class="wrd tagcloud0"><a href="#tagcloud">interest</a></span> <span id="25" class="wrd tagcloud5"><a href="#tagcloud">joy</a></span> <span id="26" class="wrd tagcloud3"><a href="#tagcloud">ladies</a></span> <span id="27" class="wrd tagcloud3"><a href="#tagcloud">man</a></span> <span id="28" class="wrd tagcloud0"><a href="#tagcloud">marry</a></span> <span id="29" class="wrd tagcloud3"><a href="#tagcloud">minutes</a></span> <span id="30" class="wrd tagcloud3"><a href="#tagcloud">mrs</a></span> <span id="31" class="wrd tagcloud3"><a href="#tagcloud">offending</a></span> <span id="32" class="wrd tagcloud10"><a href="#tagcloud">oh</a></span> <span id="33" class="wrd tagcloud0"><a href="#tagcloud">perceive</a></span> <span id="34" class="wrd tagcloud3"><a href="#tagcloud">pianoforte</a></span> <span id="35" class="wrd tagcloud0"><a href="#tagcloud">point</a></span> <span id="36" class="wrd tagcloud0"><a href="#tagcloud">quiet</a></span> <span id="37" class="wrd tagcloud0"><a href="#tagcloud">reasonably</a></span> <span id="38" class="wrd tagcloud0"><a href="#tagcloud">round</a></span> <span id="39" class="wrd tagcloud0"><a href="#tagcloud">sang</a></span> <span id="40" class="wrd tagcloud7"><a href="#tagcloud">sir</a></span> <span id="41" class="wrd tagcloud0"><a href="#tagcloud">sister</a></span> <span id="42" class="wrd tagcloud0"><a href="#tagcloud">six</a></span> <span id="43" class="wrd tagcloud0"><a href="#tagcloud">sportsmen</a></span> <span id="44" class="wrd tagcloud0"><a href="#tagcloud">sufficient</a></span> <span id="45" class="wrd tagcloud0"><a href="#tagcloud">thought</a></span> <span id="46" class="wrd tagcloud0"><a href="#tagcloud">welcomed</a></span> <span id="47" class="wrd tagcloud3"><a href="#tagcloud">whole</a></span> <span id="48" class="wrd tagcloud0"><a href="#tagcloud">wrong</a></span> <span id="49" class="wrd tagcloud0"><a href="#tagcloud">ye</a></span> </div>


    </div>
  </div>
</div>
