<h1>New document for "<%= @project.title %>"</h1>

<%= render 'form_new', document: @document, project: @project %>

<%= link_to (raw '<i class="fa fa-arrow-left" aria-hidden="true">
  </i> Back'), @project %>
