<h1>Editing Project: <%= @project.title %></h1>

<%= render 'form', project: @project, document: @document %>

<%= link_to (raw '<i class="fa fa-arrow-left" aria-hidden="true">
  </i> Back'), @project %>
