<h1>Editing Wiki</h1>

<%= render 'form', wiki: @wiki, project: @project %>

<br>
<%= link_to (raw '<i class="fa fa-eye" aria-hidden="true"></i> Show'),
  project_wiki_path(@wiki) %><br>
<%= link_to (raw '<i class="fa fa-arrow-left" aria-hidden="true">
  </i> Back to project'), @wiki.project %>
