/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 *= require font-awesome.css
 *= require bootsy
 *= require_tree "."
 *= stub "dark.scss"
 */

@import "bootstrap";

.panel {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.projects-list {
  max-width: 30em;
  margin: 0 auto;
  max-height:150px;
  overflow-y: scroll;
}

.live-feed {
  max-width: 30em;
  margin: 0 auto;
  height:150px;
  overflow-y: scroll;
}

.user-thumb-image {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  height: 45px;
  width: 45px;
}

.user-medium-image {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  height: 200px;
  width: 200px;
}

.user-list {
  margin-right: 1em;
}

.navbar-brand {
  margin-bottom: 0.3em;
}

.wysihtml5-sandbox {
  height: auto !important;
}

#search-form {
  display: -webkit-inline-box;
  width: 12em;
  padding-right: 3em;
}

.form-group {
  margin-bottom: 0;
}

#navbar-search-button {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: -5px;
}

@media screen and (max-width: 769px) {
    .container {
        width: 100%;
    }
}

button.accordion {
  outline: none;
}
