body {
  background-color: #212F3D;
  color: white;
}

.bg-inverse {
  background-color: #17202A !important;
}

a {
  color: #92D9F0;
}

a:hover { 
  color: #459CB8;
}

.list-group-item {
  background-color: #212F3D;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: white;
}

p {
  color: white;
}

.list-group {
  border: red;
}

.list-group-item {
  border: 1px solid white;
}