body {
  background-color: #756460;
}

.bg-inverse {
  background-color: #534542 !important;
}

a {
  color: #B8C7DA;
}

.list-group-item {
  background-color: #756460;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: white;
}

p {
  color: white;
}

.list-group {
  border: 1px solid white;
}

.list-group-item {
  border: 1px solid white;
}