body {
  background-color: #212F3D;
  color: white;
}

.bg-inverse {
  background-color: #17202A !important;
}

a {
  color: #92D9F0;
}

a:hover { 
  color: #459CB8;
}

.list-group-item {
  background-color: #212F3D;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: white;
}

p {
  color: white;
}

.list-group {
  border: red;
}

.list-group-item {
  border: 1px solid white;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #19242F;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #141D26;
}

code {
  color: #CE666B;
  background-color: #304C67;
}

button.accordion {
  color: #92D9F0;
}

div.dropdown {
  background-color: black;
}